{% extends "base.html.twig" %}

{% block title %}AGL Vinted - Dashboard
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur AGL Vinted</h1>
            <p class="lead">AGL Vinted est une application qui va permettre de gérer t'es achat et vente de vêtements.</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'unscription pour utiliser l'application.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>
{% endblock %}

